.projectId {
    width: 100%;
    display: block;
}

.name {
    width: 100%;
    display: block;
}

.submittedAt {
    width: 100%;
    display: block;
}

.deadline {
    width: 100%;
    display: block;
}

.description {
    width: 135%;
    height: 340px;
    resize: both;
    min-width: 70px;
    min-height: 50px;
    display: inline-block;
}


