<!--SIGN-IN HTML PORTION WITH MAT-LABELS-->
<div class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <mat-card class="card" style="width: 500px;">
      <h1>Sign In</h1>
      <form [formGroup]="signinForm">
        <mat-label><i class="fa fa-envelope"></i> Email</mat-label>
        <mat-form-field>
          <input type="email" id="email" name="email" matInput formControlName="email" />
        </mat-form-field>
        <mat-label><i class="fa fa-key"></i> Password</mat-label>
        <mat-form-field>
          <!--USED TO HIDE PASSWORD IF CHOSEN AS WELL AS SHOWING WHEN CLICKING ON THE EYE TO VIEW-->
          <input [type]="hide ? 'password' : 'text'" id="pswd" name="pswd" matInput formControlName="pswd" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <!--SIGN UP PROMPT-->
        <button mat-raised-button class="filled" [disabled]="signinForm.invalid" (click)="signIn()" style="align-self: center; width: 350px;">Log In</button>
        <a class="subtext" routerLink="/signup">Not registered? Sign up here!</a>
      </form>
      <div class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading" style="align-self: center; padding-top: 10px;"></div>
    </mat-card>
  </div>