.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 70vw;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}