<div class="container">
    <figure *ngIf="!loading" style="text-align: center;">
        <img width="250" height="250" alt="ROC" src="../assets/logo.webp" />
        <figcaption><h1>Loading...</h1></figcaption>
    </figure>
    <div *ngIf="loading" class="container">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <mat-card class="card" style="width: 500px;">
            <!--SETS USERS NAME FROM INSERTED NAME ON SIGN ON-->
            <!--FORM FOR USER PROFILE-->
            <h1>Update {{user.name}}'s Information</h1>
            <form [formGroup]="updateForm">
            <mat-label><i class="fa fa-user"></i> Name</mat-label>
            <mat-form-field>
                <input type="text" id="name" name="name" matInput [(ngModel)]="user.name" formControlName="name" />
            </mat-form-field>
            <mat-label><i class="fa fa-envelope"></i> Email</mat-label>
            <mat-form-field>
                <input type="email" id="email" name="email" matInput [(ngModel)]="user.email" formControlName="email" />
            </mat-form-field>
            <button mat-raised-button class="filled" [disabled]="updateForm.invalid" (click)="updateUser()" style="align-self: center; width: 350px;">Update Information</button>
            </form>
            <div class="fa fa-spinner fa-pulse fa-fw" *ngIf="!loading" style="align-self: center; padding-top: 10px;"></div>
        </mat-card>
    </div>
</div>