.name {
    width: 100%;
    display: block;
}

.date {
    width: 100%;
    display: block;
}

.reportText {
    width: 135%;
    height: 255px;
    resize: both;
    min-width: 70px;
    min-height: 50px;
    display: inline-block;
}

.projects {
    width: 100%;
    display: block;
}

